Desguace_Net/Desguace_Net/Service References/DarUnidadTipo/DarUnidades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Servicios/" targetNamespace="http://Servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DarTodasUnidades" type="tns:DarTodasUnidades" />
  <xs:element name="DarTodasUnidadesResponse" type="tns:DarTodasUnidadesResponse" />
  <xs:element name="DarUnidadId" type="tns:DarUnidadId" />
  <xs:element name="DarUnidadIdResponse" type="tns:DarUnidadIdResponse" />
  <xs:complexType name="DarUnidadId">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DarUnidadIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DarTodasUnidades">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="DarTodasUnidadesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>