DesguaceJava/xml-resources/web-service-references/PassManager/wsdl/localhost_8080/Sor_Servicios/PassManager.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="changePass" type="tns:changePass" />

<xs:element name="changePassResponse" type="tns:changePassResponse" />

<xs:element name="forgetPass" type="tns:forgetPass" />

<xs:element name="forgetPassResponse" type="tns:forgetPassResponse" />

<xs:complexType name="forgetPass">
<xs:sequence>
<xs:element name="doc" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="forgetPassResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="changePass">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0" />
<xs:element name="doc" type="xs:string" minOccurs="0" />
<xs:element name="pass" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="changePassResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>