Taller/xml-resources/web-service-references/DarPeticionesNifP/wsdl/localhost_8080/Sor_Servicios/DarPeticionesNifP.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="DarPeticiones" type="tns:DarPeticiones" />

<xs:element name="DarPeticionesResponse" type="tns:DarPeticionesResponse" />

<xs:element name="DarPeticionesWeb" type="tns:DarPeticionesWeb" />

<xs:element name="DarPeticionesWebResponse" type="tns:DarPeticionesWebResponse" />

<xs:complexType name="DarPeticiones">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="nif" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DarPeticionesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DarPeticionesWeb">
<xs:sequence>
<xs:element name="nif" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DarPeticionesWebResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>