Taller/xml-resources/web-service-references/DarOfertasRequestOk/wsdl/localhost_8080/Sor_Servicios/DarOfertasRequestOk.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="DarOfertasByRequestOk" type="tns:DarOfertasByRequestOk" />

<xs:element name="DarOfertasByRequestOkResponse" type="tns:DarOfertasByRequestOkResponse" />

<xs:element name="DarOfertasByRequestOkWeb" type="tns:DarOfertasByRequestOkWeb" />

<xs:element name="DarOfertasByRequestOkWebResponse" type="tns:DarOfertasByRequestOkWebResponse" />

<xs:complexType name="DarOfertasByRequestOkWeb">
<xs:sequence>
<xs:element name="idR" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DarOfertasByRequestOkWebResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DarOfertasByRequestOk">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="idR" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DarOfertasByRequestOkResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>