Taller/xml-resources/web-service-references/LoginClientes/wsdl/localhost_8080/Sor_Servicios/LoginClientes.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="Login" type="tns:Login" />

<xs:element name="LoginResponse" type="tns:LoginResponse" />

<xs:element name="LoginWeb" type="tns:LoginWeb" />

<xs:element name="LoginWebResponse" type="tns:LoginWebResponse" />

<xs:complexType name="Login">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="Password" type="xs:string" minOccurs="0" />
<xs:element name="nif_dni" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginWeb">
<xs:sequence>
<xs:element name="Password" type="xs:string" minOccurs="0" />
<xs:element name="nif_dni" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginWebResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>