Taller/xml-resources/web-service-references/DarPeticionesNifF/wsdl/localhost_8080/Sor_Servicios/DarPeticionesNifF.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="DarPeticionesHis" type="tns:DarPeticionesHis" />

<xs:element name="DarPeticionesHisResponse" type="tns:DarPeticionesHisResponse" />

<xs:complexType name="DarPeticionesHis">
<xs:sequence>
<xs:element name="nif" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DarPeticionesHisResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>