DesguaceJava/src/META-INF/wsdl/localhost_8080/Sor_Servicios/RegistroDesguace.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="Registro" type="tns:Registro" />

<xs:element name="RegistroResponse" type="tns:RegistroResponse" />

<xs:complexType name="Registro">
<xs:sequence>
<xs:element name="Cif" type="xs:string" minOccurs="0" />
<xs:element name="Nombre" type="xs:string" minOccurs="0" />
<xs:element name="Password" type="xs:string" minOccurs="0" />
<xs:element name="Direccion" type="xs:string" minOccurs="0" />
<xs:element name="Email" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistroResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>