Taller/src/META-INF/wsdl/localhost_8080/Sor_Servicios/InitCom.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="exchangeKeys" type="tns:exchangeKeys" />

<xs:element name="exchangeKeysResponse" type="tns:exchangeKeysResponse" />

<xs:element name="getAESKey" type="tns:getAESKey" />

<xs:element name="getAESKeyResponse" type="tns:getAESKeyResponse" />

<xs:complexType name="getAESKey">
<xs:sequence>
<xs:element name="id" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAESKeyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="exchangeKeys">
<xs:sequence>
<xs:element name="modulus" type="xs:string" minOccurs="0" />
<xs:element name="exponent" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="exchangeKeysResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>