Taller/src/META-INF/wsdl/localhost_8080/Sor_Servicios/RegistroCliente.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="Registro_Cli" type="tns:Registro_Cli" />

<xs:element name="Registro_CliResponse" type="tns:Registro_CliResponse" />

<xs:complexType name="Registro_Cli">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="Nif" type="xs:string" minOccurs="0" />
<xs:element name="Nombre" type="xs:string" minOccurs="0" />
<xs:element name="Direccion" type="xs:string" minOccurs="0" />
<xs:element name="Password" type="xs:string" minOccurs="0" />
<xs:element name="Apellidos" type="xs:string" minOccurs="0" />
<xs:element name="Fecha" type="xs:string" minOccurs="0" />
<xs:element name="Email" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Registro_CliResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>