Taller/xml-resources/web-service-references/DarIdClientebyNif/wsdl/localhost_8080/Sor_Servicios/DarIdClientebyNif.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="GetID" nillable="true" type="tns:getIdDes" />

<xs:element name="GetIDResponse" nillable="true" type="tns:getIdDesResponse" />

<xs:element name="GetIDWeb" type="tns:GetIDWeb" />

<xs:element name="GetIDWebResponse" type="tns:GetIDWebResponse" />

<xs:element name="getIdDes" type="tns:getIdDes" />

<xs:element name="getIdDesResponse" type="tns:getIdDesResponse" />

<xs:complexType name="getIdDes">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="nif" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIdDesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetIDWeb">
<xs:sequence>
<xs:element name="nif" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetIDWebResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>