Taller/xml-resources/web-service-references/BorrarPeticion/wsdl/localhost_8080/Sor_Servicios/BorrarPeticion.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="Borrar" type="tns:Borrar" />

<xs:element name="BorrarResponse" type="tns:BorrarResponse" />

<xs:element name="BorrarWeb" type="tns:BorrarWeb" />

<xs:element name="BorrarWebResponse" type="tns:BorrarWebResponse" />

<xs:complexType name="Borrar">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="idP" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="BorrarResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="BorrarWeb">
<xs:sequence>
<xs:element name="id" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="BorrarWebResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>