Taller/xml-resources/web-service-references/DarOfertasRequest/wsdl/localhost_8081/Sor_Servicios/DarOfertasRequest.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="DarOfertasByR" type="tns:DarOfertasByR" />

<xs:element name="DarOfertasByRResponse" type="tns:DarOfertasByRResponse" />

<xs:complexType name="DarOfertasByR">
<xs:sequence>
<xs:element name="idR" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DarOfertasByRResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>