Desguace_Net/Desguace_Net/Service References/DarID/DarIdDesguacebyCif.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Servicios/" targetNamespace="http://Servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetID" type="tns:GetID" />
  <xs:element name="GetIDResponse" type="tns:GetIDResponse" />
  <xs:element name="getIdDes" nillable="true" type="tns:GetID" />
  <xs:element name="getIdDesResponse" nillable="true" type="tns:GetIDResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetID">
    <xs:sequence>
      <xs:element minOccurs="0" name="nif" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetIDResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>