DesguaceJava/xml-resources/web-service-references/DarIdDesguacebyCif/wsdl/25.162.2.139_8080/Sor_Servicios/DarIdDesguacebyCif.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="getIdDes" type="tns:getIdDes" />

<xs:element name="getIdDesResponse" type="tns:getIdDesResponse" />

<xs:complexType name="getIdDes">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="nif" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIdDesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>