JavaApplication8/xml-resources/web-service-references/DarUnidades/wsdl/localhost_8080/Sor_Servicios/DarUnidades.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="DarTodasUnidades" type="tns:DarTodasUnidades" />

<xs:element name="DarTodasUnidadesResponse" type="tns:DarTodasUnidadesResponse" />

<xs:element name="DarUnidadId" type="tns:DarUnidadId" />

<xs:element name="DarUnidadIdResponse" type="tns:DarUnidadIdResponse" />

<xs:complexType name="DarUnidadId">
<xs:sequence>
<xs:element name="id" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DarUnidadIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DarTodasUnidades">
<xs:sequence />
</xs:complexType>

<xs:complexType name="DarTodasUnidadesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>